.sharedBtn {
  background-color: #f3cec2;
  color: #7f4722;
  padding-inline: 1.2em;
  &:hover {
    background-color: #7f4722;
    color: #f3cec2;
  }
}

.sharedBtn-small {
  @extend .sharedBtn;
  font-size: 1rem !important;
}

.sharedBtnFull {
  width: 100% !important;
}

.sharedBtnTransparent {
  background-color: transparent;
  border: 2px solid #f3cec2;
}
