<div class="p-2 p-md-5">
  <h2 class="">{{ titleHeader }}</h2>
  <swiper-container
    class="my-5"
    autoplay="true"
    loop="true"
    slides-per-view="auto"
    space-between="20"
  >
    <swiper-slide class="w-auto shadow" *ngFor="let product of products">
      <app-product-card [productObj]="product"></app-product-card>
    </swiper-slide>
  </swiper-container>
  <div class="w-100" style="text-align: right">
    <app-button
      (onClick)="goToProduct()"
      [small]="true"
      [btnText]="btnText"
    ></app-button>
    <!-- [onClick]="goToProduct"  it dosnt work  -->
  </div>
</div>
