img {
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.hero {
  padding-top: 5.5rem;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #7f4722;
}

.heroDesc {
  max-width: 40rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #85624b;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sliderHero {
  padding: 1rem;
  max-width: 60rem;
  width: 100%;
}

.heroParg {
  margin-block: 2rem;
  font-family: "Playfair Display", serif;
}

.heroBtn {
  background-color: #f3cec2;
  color: #7f4722;
  padding-inline: 1.2em;
  &:hover {
    background-color: #7f4722;
    color: #f3cec2;
  }
}
