<div class="d-flex flex-column w-100 mainContainer">
  <app-background class="position-absolute w-100"></app-background>
  <div class="z-1 d-flex flex-column adminHeader align-items-center">
    <h1>Welcome Admin</h1>
    <p>Choose the action you need</p>
  </div>

  <aside class="z-2 d-flex flex-column gap-5 position-absolute h-100">
    <app-button
      [small]="true"
      [full]="true"
      [btnText]="'Update Product'"
      (click)="showUpdateProductForm()"
    ></app-button>
    <app-button
      [small]="true"
      [full]="true"
      [btnText]="'Add Product'"
      (click)="showAddProductForm()"
    ></app-button>
    <app-button
      [small]="true"
      [full]="true"
      [btnText]="'Delete Product'"
      (click)="showDeleteProductForm()"
    ></app-button>
  </aside>

  <div class="z-1 d-flex justify-content-center mb-4 gap-5">
    <div *ngIf="titleHeader" class="formsContainer shadow">
      <app-panel-add-product
        (createdProduct)="setProduct($event)"
        *ngIf="titleHeader === 'create'"
      ></app-panel-add-product>
      <app-panel-update-product
        (createdProduct)="setProduct($event)"
        *ngIf="titleHeader === 'update'"
      ></app-panel-update-product>
      <app-panel-delete-product
        (createdProduct)="setProduct($event)"
        *ngIf="titleHeader === 'delete'"
      ></app-panel-delete-product>
    </div>

    <div class="align-self-center m-5 cardContainer">
      <app-product-card
        *ngIf="createdProduct?.id"
        [productObj]="createdProduct"
      ></app-product-card>
    </div>
  </div>
</div>
