aside {
  text-align: end;
  background-color: #ffede7;
  min-width: 150px;
  width: 15%;
  padding: 10rem 1%;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #7f4722;
  font-weight: bolder;
}

.adminHeader {
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.formsContainer {
  background: #ffede7 !important;
  padding: 4rem;
  border-radius: 20px;
  background-color: #ffede7 !important;
}

p {
  max-width: 40rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #85624b;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}


.mainContainer {
  min-height: 100vh;
}

.cardContainer {
  width: 200px;
}
