<div
  class="d-flex justify-content-center align-items-lg-start align-items-center flex-column flex-lg-row detailsCard mb-5"
>
  <div class="d-flex flex-column imgsContainer">
    <div>
      <img src="{{ product.imgs[0] }}" alt="product-img" />
      <div class="subImgsContainer d-flex align-items-center gap-1">
        <img src="{{ product.imgs[1] }}" alt="product-img" />
        <img src="{{ product.imgs[2] }}" alt="product-img" />
        <img src="{{ product.imgs[3] }}" alt="product-img" />
      </div>
    </div>
  </div>

  <div class="d-flex flex-column gap-3 detailContainer">
    <h2>{{ product.name }}</h2>
    <div class="d-flex align-items-center gap-5">
      <h6>Gender: {{ product.gender }}</h6>
      <h6>Left: {{ product.stock }}</h6>
    </div>
    <div>
      <h4>{{ product.price | currency : "L.E " }}</h4>
      <i>VAT not included</i>
    </div>

    <div class="d-flex align-items-center gap-2">
      <select class="form-select form-select-lg fs-6" name="" id="">
        <option selected>Choose your size</option>
        <option value="sm">sm</option>
        <option value="md">md</option>
        <option value="lg">lg</option>
        <option value="xlg">xlg</option>
      </select>
      <label class="form-label w-50">Sizes Guide</label>
    </div>

    <app-button
      [disabled]="product.stock === 0"
      [full]="true"
      [small]="true"
      [btnText]="product.stock ? 'Buy Now' : 'Out of Stock'"
    ></app-button>
    <app-button
      [disabled]="product.stock === 0"
      [bgColorTrans]="true"
      [full]="true"
      [small]="true"
      [btnText]="product.stock ? 'Add to Cart' : 'Out of Stock'"
    ></app-button>

    <div class="faq">
      <h5 class="text-center my-2 mb-2">Frequently Asked Questions</h5>
      <app-accordion [accordionArr]="accordionArr"></app-accordion>
    </div>
  </div>
</div>
