form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.Input {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.inputType {
  width: 100%;
}
.inputContainer {
  width: 100%;
  max-width: 300px;
}

input{
  font-size: 0.8rem;
}

h2 {
  font-family: "Playfair Display", serif;
  color: #7f4722;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

label {
  min-width: 3rem;
}

span {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
