.card {
  width: 200px;
}

img {
  height: 200px;
  cursor: pointer;
}

i {
  font-size: 0.8rem;
  margin: auto;
  background-color: #fce3db;
  padding: 2px;
  border-radius: 5px;
  font-weight: 500;
}

.men {
  background-color: #c0f5f7 !important;
}

span {
  font-size: 0.85rem;
}

.btn {
  width: 100%;
}

.availability {
  font-size: 0.9rem !important;
}

.darkColor{
  color:black;
}
