<form
  [formGroup]="getProdcutForm"
  (ngSubmit)="getProductHandler()"
  class="d-flex flex-column align-content-center"
>
  <h2 class="text-center">Delete Product</h2>
  <div class="d-flex Input">
    <div class="">
      <label for="id" class="col-form-label">ID:</label>
    </div>
    <div class="position-relative inputContainer">
      <input
        placeholder="Enter Product ID "
        name="id"
        type="text"
        id="id"
        formControlName="id"
        class="form-control inputType"
        aria-describedby="idHelpInline"
      />

      <span
        *ngIf="
          getProdcutForm.controls.id.invalid &&
          getProdcutForm.controls.id.touched
        "
        id="idHelpInline"
        class="form-text position-absolute"
      >
        ID must not be empty.
      </span>
    </div>
  </div>
  <div class="gap-5 d-flex justify-content-center align-items-center">
    <app-button
      [small]="true"
      *ngIf="!currentProduct?.id"
      [btnText]="'Get Product'"
    ></app-button>
    <app-button
      *ngIf="currentProduct?.id"
      (onClick)="deleteProductHandler()"
      [small]="true"
      [btnText]="'Delete'"
    ></app-button>
    <app-button
      *ngIf="currentProduct?.id"
      (onClick)="clearProduct()"
      [small]="true"
      [bgColorTrans]="true"
      [btnText]="'Go Back'"
    ></app-button>
  </div>
  <p class="text-center" *ngIf="deleted">Product Deleted</p>
  <p *ngIf="!currentProduct?.id && notFound">
    No product found matched your ID
  </p>
</form>
